<!-- views/partials/header.ejs -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Comics</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">This Week</a></li>
      <li><a href="#">Publishers</a></li>
      <li><a href="#">Message Boards</a></li>
    </ul>
    <ul class ="nav navbar-nav navbar-right">
      <li><a href="/signup"><span class="glyphicon glyphicon-user"></spa    n> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></sp    an> Login</a></li>
    </ul>
  </div> <!-- end container-fluid -->
</nav>
