body {
  background-color: lightgrey;
  padding-top: 50px;
}

/* Home page Specific */
#home{
  text-align: center;
}
.content {
  padding: 40px 15px;
  text-align: center;
}
img {
  margin: auto;
  padding: 5px;
  height: 300px;
  width: 200px;
}
#home[.row]{
  text-align: center;
}
.container-covers{
  display: flex;
  text-align: center;
  background-color: lightgrey;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}
.item-covers{
  flex-grow: 5;
  align-self: auto;
}
/* End home page */


/* Profile Page */
#profile {
  text-align: center;
}
.issue-form {
  width: 10%;
}
.book-submission {
  text-align: left;
}
/* End Profile Page */

/* Universal CSS */
table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
#myModal img {
  height: 500px;
  width: 350px;
}
/* End Universal CSS */

/* Message Board CSS */
#messageBoards{
  text-align: left;
}

/* End Message Board CSS */
