body{
  text-align: center;
  background-color: lightgrey;
  padding-top: 50px;
}
.content {
  padding: 40px 15px;
  text-align: center;
}
img {
  margin: auto;
  padding: 5px;
  height: 300px;
  width: 200px;
}
.row{
  text-align: center;
}
.container-covers{
  display: flex;
  text-align: center;
  background-color: lightgrey;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}
.item-covers{
  flex-grow: 5;
  align-self: auto;
}
.issue-form {
  width: 10%;
}
.book-submission{
  text-align: left;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
