<!DOCTYPE html>
<html>
<head>
  <title>ComMix - Message Boards</title>
  <% include partials/head.ejs %>
</head>
<body>

  <header>
  <% include partials/headerLI.ejs %>
  </header>

<div class="container">
  
  <div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Message Boards</h1>
  </div>

  <div class="Topics">
  </div>
  
</div> <!-- end of container -->


<% include partials/footer.ejs %>
</body>
</html>
