<!DOCTYPE html>
<html>
<head>
  <title>Comics - Profile</title>
  <% include partials/head.ejs %>
</head>
<body>

  <header>
    <% include partials/headerLI.ejs %>
  </header>

<div class="container">
  
  <div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>

  <div class="row">
    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
      <div class="well">
        <h3><%= user.local.username %></h3><hr size=3>
          <p>
            <strong>email</strong>: <%= user.local.email %><br>
          </p>
      </div> <!-- end well div -->
    </div> <!-- end col-sm-6 div -->
    <div class="col-sm-6">
      <div class="well">
        <h3>Add To Collection:</h3><hr>
        <div class="book-submission">
          <label>Title:</label>
          <input type="text" name="title">  
          <label>  Issue Numbers:</label> 
          <input type="number" class="issue-form" name="issueB" min="0"> to
          <input type="number" class="issue-form" name="issueE" max="1000">
          <br>
          <label>Publisher: </label>
          <select id="publisher" name ="publisher">
            <option disabled selected value> -- select an option -- </option>
            <option value="Avatar Press">Avatar Press</option>
            <option value="Boom Studios">Boom Studios</option>
            <option value="Dark Horse">Dark Horse</option>
            <option value="DC">DC</option>
            <option value="Dynamite">Dynamite</option>
            <option value="IDW">IDW</option>
            <option value="Image">Image</option>
            <option value="Marvel">Marvel</option>
            <option value="Zenescope Entertainment">Zenescope Entertainment</option>
          </select>
          <label>Ongoing:</label>
          <input type="radio" name="ongoing" value="Yes"> Yes 
          <input type="radio" name="ongoing" value="No"> No <br>
          <label>Writer:(Optional)</label>
          <input type="text" name="writer"><br>
          <label>Artist:(Optional)</label>
          <input type="text" name="artist"><br>  
          <input type="submit" value="Submit">
        </div><!-- end form-group -->
        
      </div> <!-- end well -->
    </div> <!-- end col-sm-6 -->
  </div> <!-- end row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <h3><%= user.local.username %>'s Collection: </h3>
        <div id="collection">
          <table>
            <thead>
              <tr>
                <th>Title</th>
                <th>Issue</th>
                <th>Publisher</th>
                <th>Ongoing</th>
                <th>Writer</th>
                <th>Artist</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div> <!-- end of container -->


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/global.js"></script>
</body>
</html>
