<!DOCTYPE html>
<html>
<head>
  <title>Comics - Profile</title>
  <% include partials/head.ejs %>
</head>
<body>

  <header>
    <% include partials/headerLI.ejs %>
  </header>

<div class="container">
  
  <div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>

  <div class="row">
    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
      <div class="well">
        <h3><%= user.local.username %></h3>

          <p>
            <strong>email</strong>: <%= user.local.email %><br>
            <!-- <strong>password</strong>: <%= user.local.password %> -->
          </p>

      </div> <!-- end well div -->
    </div> <!-- end col-sm-6 div -->
    <div class="col-sm-6">
      <div class="well">
        <h3>Collection:</h3>
      </div> <!-- end well div -->
    </div> <!-- end col-sm-6 div -->
  </div> <!-- end row div -->
  
</div> <!-- end of container div -->


</body>
</html>
